body {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
*{
    
}

/* */
#upper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
    box-sizing: border-box;
    padding: 10px;
}



input {
    width: 600px;
    margin: 5px;
}

/* */
#main {
    width: 100%;
    border: 1px solid black;
    height: 400px;
    margin: auto;
    box-sizing: border-box;
}


#selected-files-list {
    display: block;
    list-style-type: disc;
    height: 100%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    overflow-y: scroll;
}

.file-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    height: 50px;
    width: 80%;
}

.file-item-header {
    direction: ltr;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    height: 25px;
}


.delete-list-item-button {
    margin-left:auto;
    box-sizing: border-box;
    color: red;

}

.delete-list-item-button:hover {
    cursor: pointer;
}


/* */
#buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    padding-left:0;
}

button {
    box-sizing: border-box;
    padding: 4px;
    margin-right: 10px;
}